/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.font {
  margin-top: 30px;
  font-size: 12px;
}

.col-md-4 {
  margin-top: 60px;
}

.font-2 {
  margin-top: 30px;
  font-weight: bold;
}

.status {
  margin-top: 30px;
  font-weight: bold;
  color: green;
}

.font-5 {
  margin-top: 30px;
  font-weight: bold;
}

.nagano-cake {
  width: 400px;
  height: 150px;
  margin-left: 400px;
  padding-top: 50px;
}

.new-info {
  margin-left: 400px;
  padding-top: 30px;
}

.about-cake {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.intro {
  margin-bottom: 50px;
  font-size: 16px;
}

.price {
  font-weight: bold;
}

.price {
  font-size: 20px;
}